<.modal_control modal_id={@modal_id} />
<.confirm_delete
  id="delete-ds"
  delete_type="Data Set"
  delete_data={@edit_ds.id}
  data={@delete_data}
/>
<.modal id="ds-form-container">
  <.simple_form for={@form} id="ds-form" phx-submit="save" phx-change="validate">
    <.error :if={@check_errors}>
      Please check the errors below.
    </.error>
     <.input field={@form[:name]} type="text" label="Name" required autofocus />
    <.input field={@form[:description]} type="text" label="Description" required />
    <.input
      field={@form[:date]}
      value={@local_datetime}
      type="datetime-local"
      label="Date"
      required
    />
    <:actions>
      <.button phx-disable-with="Saving data set..." class="w-full">
        Save Data Set
      </.button>
    </:actions>
  </.simple_form>
</.modal>

<div class="ml-1 mb-6">
  <button
    phx-click="create"
    class="bg-medium-light text-slate-700 hover:bg-light rounded-full px-4 py-2 font-semibold"
  >
    Create New Data Set
  </button>
</div>

<div class="relative overflow-x-auto mb-5 rounded-lg">
  <table class="w-full text-sm text-left text-slate-700">
    <thead class="text-xs uppercase bg-medium-light">
      <tr>
        <th scope="col" class="px-6 py-3">
          Manufacturer
        </th>
        
        <th scope="col" class="px-6 py-3">
          Model
        </th>
        
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        
        <th scope="col" class="px-6 py-3">
          Serial Number
        </th>
        
        <th scope="col" class="px-6 py-3">
          Test Set
        </th>
        
        <th scope="col" class="px-6 py-3">
          Data Sets
        </th>
        
        <th scope="col" class="px-6 py-3">
          Test Data
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr class="bg-light border-b font-medium">
        <td class="px-6 py-4">
          <%= @test_set.serial_number.unit.manufacturer %>
        </td>
        
        <td class="px-6 py-4">
          <.link
            navigate={~p"/rf/units/unit/#{@test_set.serial_number.rf_unit_id}"}
            class="underline hover:text-slate-500"
          >
            <%= @test_set.serial_number.unit.name %>
          </.link>
        </td>
        
        <td class="px-6 py-4">
          <%= @test_set.serial_number.unit.description %>
        </td>
        
        <td class="px-6 py-4">
          <.link
            navigate={~p"/rf/units/sn/#{@test_set.serial_number.id}"}
            class="underline hover:text-slate-500"
          >
            <%= @test_set.serial_number.serial_number %>
          </.link>
        </td>
        
        <td class="px-6 py-4">
          <%= "#{@test_set.name} @ #{@test_set.location}" %>
        </td>
        
        <td class="px-6 py-4">
          <%= @data_set_count %>
        </td>
        
        <td class="px-6 py-4">
          <%= @data_count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="relative overflow-x-auto rounded-lg">
  <table class="w-full text-sm text-left text-slate-700">
    <thead class="text-xs uppercase bg-medium-light">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        
        <th scope="col" class="px-6 py-3">
          Gain Measurements
        </th>
        
        <th scope="col" class="px-6 py-3">
          VSWR Measurements
        </th>
         <th scope="col" class="px-6 py-3" />
      </tr>
    </thead>
    
    <tbody>
      <%= for {data_set, gain_count, vswr_count, date_local} <- @data_sets do %>
        <tr Key={data_set.id} class="bg-light border-b font-medium">
          <td class="px-6 py-4">
            <div class="flex space-x-2">
              <button phx-click="edit" phx-value-ds_id={data_set.id}>
                <img src="/images/edit-button.svg" class="w-4" />
              </button>
              
              <.link
                navigate={~p"/rf/data/data_set/#{data_set.id}"}
                class="underline hover:text-slate-500"
              >
                <%= data_set.name %>
              </.link>
            </div>
          </td>
          
          <td class="px-6 py-4">
            <%= date_local %>
          </td>
          
          <td class="px-6 py-4">
            <%= data_set.description %>
          </td>
          
          <td class="px-6 py-4">
            <%= gain_count %>
          </td>
          
          <td class="px-6 py-4">
            <%= vswr_count %>
          </td>
          
          <td class="px-6 py-4">
            <button phx-click="delete" phx-value-ds_id={data_set.id}>
              <img src="/images/delete-button.svg" class="w-4" />
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
